div{
    background-color: aqua;
    color: black;
    font-size:15px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-align: center;
}
p{
  color: red;
  font-size: 20px;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
}
body{
    background-color: black;
}

span{
    color: chartreuse;
    font-size: x-large;
}
#rubel{
    color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
}
.bolog{
    color: cornflowerblue;
    background-color: rgba(169, 169, 169, 0.67);
    border: 3px solid yellow;
    margin:10px ;
    border-radius:40px ;
    width: 45%;
    display: inline-block;
}
#siam{
    background-color: darkolivegreen;
    color: aliceblue;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}